.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 13%;
  z-index: 999px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid;
  border-image: linear-gradient(90deg, #F2298200, #F2298200, #F2298200) 1;
}
.Image{
  text-decoration: none;
  display: flex;
  margin-left: 1%;
  
}
.Pronta-Entrega{
  display: flex;
  text-decoration: none;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 9px;
  margin-left: 38%;
  margin-top: 2.2%;
}
.Whatsapp{
  margin-top: 2%;
  margin-left: 25%;
}
.body{
  margin-top: 140px;
  height: 1000px;
  display: flex;
  background-color: #fff;
}